<header>
    <div class="logo-wrapper">
    <h1 class="logo">CatoPedia</h1>
    <p class="welcome-text">Over 40 different kinds of cats</p>
    </div>
    <img class="scratch-cat" src="https://user-images.githubusercontent.com/110595617/200304102-397734e4-e529-4075-8310-69d1e327f068.png" alt="scratchCat">
    <img class="flying-cat" src="https://user-images.githubusercontent.com/110595617/200305592-64cfc072-9650-4615-9602-98ff42d1e252.png" alt="">
    <img class="arm-cat" src="https://user-images.githubusercontent.com/110595617/200305255-50483f2c-5fa2-433b-aa53-248ce51cb5ac.png" alt="">
    <img class="angry-cat" src="https://user-images.githubusercontent.com/110595617/200319053-e5266ee5-7759-4f7a-89ee-998fc25f05e2.png" alt="Cat">
    <button class="explore" (click)="scrollToCats()"> Explore!</button>
</header>