<section>
    <section class="facts-section">
        <h2 class="roll-info">ROLL OUT RANDOM CAT FACT!</h2>
        <div class="facts-wrapper">
            <div>
                <div class="fact-window">
                    <p class="fact-text" id="cat-fact"> Click button to roll out random, useles cat facts!</p>
                </div>
                <button class="roll-button" (click)="getCatFact()"> <p>Roll cat fact </p><img class="dice" src="https://cdn-icons-png.flaticon.com/512/0/963.png" alt="dice"> </button>   
            </div>
            <div >
                <img class="woo-cat" src="https://user-images.githubusercontent.com/110595617/200301892-231bd40d-2386-4edb-8768-85fd186079c0.png" alt="WooCat">
                <p class="cat-text">,,Wow, amazing fact!"</p>
            </div>
        </div>         
    </section>
</section>
<main>
    <div class="cat-cards-wrapper">
        <div class="cat-card" *ngFor="let cat of filteredCats; index as i" (click)="displayCatInfo()" id="cat-card-{{i}}">
            <div class="cat-card-inner">
                <div class="cat-card-image">
                    <img class="cat-image" src="{{cat.url}}" alt="catImage">
                </div>
                <p class="cat-name">{{ cat.breeds[0].name}}</p>
            </div>
        </div>
    </div>
    
</main>
<div class="overlay" id="overlay" (click)="hideCatInfo()"></div>
<section class="cat-popup" id="cat-popup">
    <img class="cat-detail-image" src="{{catImageUrl}}" alt="catImage">
    <div class="cat-popup-info">
        <p class="cat-info-name">{{catName}}</p>
        <p class="cat-info-description">{{catDescription}}</p>
        <p class="traits"><span>Character:</span> {{catTemperament}}</p>
        <p class="traits"><span>Life span:</span> {{catLifeSpan}} years</p>
        <p class="traits"><span>Weight:</span> {{catWeightMetric}} kilograms ({{catWeightImperial}} pounds)</p>
        <p class="traits"><span>Intelligence:</span> {{catIntelligence}}</p>
        <p class="traits"><span>Attitude towards children:</span> {{isCatChildFriendly}}</p>
        <p class="traits"><span>Affection:</span> {{catAffectionLevel}}</p>
        <p class="traits"><span>Health issues:</span> {{catHealthIssues}}</p>
        <p class="traits"><span>Adaptability:</span> {{catAdaptability}}</p>
        <p class="traits"><span>Social needs:</span> {{catSocialNeeds}}</p>
        <p class="traits"><span>Attitude towards strangers:</span> {{isCatStrangerFriendly}}</p>
        <p class="wiki-link">See more on <a href="{{catWikiLink}}" target="_blank"> Wikipedia </a></p>
    </div>
</section>